<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Successfull</title>
    <link href="~/Content/Styles/mailstyle.css" rel="stylesheet" />
    <script src="~/Scripts/HidePage.js"></script>
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
    <script type="text/javascript">
        slowShow();
    </script>

</head>
<body>

<div class="content-container">
    <div class="content">
        <a href="@Url.Action("Index","Home")" id="button">
            BACK TO MAIN PAGE
        </a>
        <div class="text">
            Message sent successfully!
        </div>
    </div>
</div>


</body>
</html>